@import './normalize.css';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('fonts/fira-sans-cyrillic-400-normal.woff2') format('woff2');
}
/* @import "../bootstrap/scss/bootstrap"; */

body {
  /* background-color: #CECECE; */
  background-color: rgb(237, 238, 240);

  /* background-color: #edeef0; */
}

#app {
  font-family: 'Fira Sans';
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0rem;
  font-weight: normal;
}

/* 
.col,
.col-7,
.col-8,
.col-4,
.col-5 {
  background-color: #ffffff;
} */
